.faqContentCard {
  margin-top: 0;
  padding: 0 12px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 300ms ease, opacity 300ms ease, margin 300ms ease, padding 300ms ease;
}
.faqContentCard.active {
  max-height: 500px;
  margin-top: 8px;
  padding: 4px 12px;
  opacity: 1;
  transition: max-height 600ms ease, opacity 600ms ease, margin 600ms ease, padding 600ms ease;
}

.chevronDown{
  color: var(--color-primary);
  transform: rotate(0);
  transition: transform 300ms ease;
}

.chevronDown.active {
  color: var(--color-gold);
  transform: rotate(-180deg);
  transition: transform 300ms ease;
}