.appHeader{
  height: 85px;
  @media (min-width: 770px) {
    height: 230px;
    padding-bottom: 32px;
  }
  
  @media (min-width: 1280px) {
    height: 170px;
  }
}



.appCloseHeader {
  height: 85px !important;
  @media (min-width: 770px) {
    padding-bottom: 20px !important;
  }
}
